.task-list {
  display: block;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 2ch;
  margin-right: 4ch;
  margin-bottom: 0px;
  font-family: 'Fuzzy Bubbles', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-emphasis: none;
  color: #000000;
  overflow-wrap: break-word;
  flex-wrap: wrap;



}

li.task-list {
  position: relative;

}

.white-bgr {
  background-color: #FAFAFA;
  position: absolute;
  justify-content: center;
  width: 75%;
  height: 539px;
  left: 15ch;
  top: 26%;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  overflow: auto;
  border: 5px #000000;
  border-style: double;

}



.notebook {
  position: fixed;
  justify-content: center;
  width: 69%;
  height: 250px;
  align-items: center;
  left: 650px;
  top: 20px;
  bottom: 45px;

}

.side {
  position: fixed;
  width: 85px;
  height: 809px;
  left: -1px;
  top: -6px;
  background: #000000;
  border-radius: 20px 0px 0px 20px;
}

.pencil {
  position: absolute;
  left: 5ch;
  top: 15ch;
  width: 400px;
  height: 400px;
  z-index: -1;

}

.cover {
  box-sizing: border-box;
  position: relative;
  width: 60%;
  height: 812px;
  top: 5ch;
  background: url(/src/Assets/hand-drawn-composition-notebook-pattern_23-2149275201.webp);
  background-size: cover;
  border: 8px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px 20px 20px 20px;
}


.search {
  position: absolute;
  background: #FAFAFA;
  font-family: 'Dekko', cursive !important;
}

.bar {
  position: absolute;
  top: 16ch;
  right: 27ch;
  width: 30ch;
  height: 5ch;
  background: #ffffffc4;
  z-index: 1;
  border: 3px solid #000000;
  transform: rotate(-10deg);
  border-radius: 20px 20px 20px 20px;
  font-family: 'Dekko', cursive !important;
}

.modal-title {
  font-family: 'Dekko', cursive
}

.modal-form-group {
  font-family: 'Dekko', cursive
}

.delete {
  position: relative;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #d62323;
  margin-left: 2ch;
  flex-wrap: wrap;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: none !important;
  font-size: inherit;
  line-height: inherit;
}

.edit {
  text-align: left;
  align-items: left;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #0c49a5;
  margin-left: 1ch;
  flex-wrap: wrap;
}

.button-change {
  text-align: right;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  width: 140px;
  margin-left: 90%;
  top: 2px;
  margin-top: -31px;
  border-bottom: 2px solid #000000;
  z-index: 2;
}


.whole-list {
  position: flex;
  text-align: left;
  margin-bottom: -7ch;
  margin-right: 15ch;
  top: 4%;
}

.header-todo {
  position: fixed;
  background-color: #FAFAFA;
  justify-content: center;
  width: 75%;
  height: 14%;
  left: 5ch;
  top: 10%;
  align-items: center;
  font-family: 'Dekko', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  border-radius: 20px 20px 20px 20px;
  border: 5px #000000;
  border-style: double;
  z-index: 10;
  text-decoration: 2px underline;

}




li {
  position: relative;
  border-bottom: 2px solid rgb(0, 0, 0);
  overflow-wrap: break-word;
  padding-top: .5ch;
}

.icons {
  width: 2ch;
  height: 6ch;
}



.seeall {
  position: absolute;
  left: 100%;
  height: 700%;
}

.bd_add {
  position: inherit;
  height: 100%;
  left: 100%;

}

.switch-btn {
  position: relative;
  color: #000000;
  width: 50%;
  height: 32px;
  top: 20px;
  left: 45px;
  border-radius: 10px;
  background-color: #FAFAFA;
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-family: 'Dekko', cursive !important;
  border-radius: 20px 20px 20px 20px;
  border: 5px #000000;
  border-style: double;

}

.switch-btn:hover {
  background-color: #f5f840f8;
}

.desk {
  background: url(/src/Assets/wood_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1390px) {
  .notebook {
    width: 75%;
    left: 550px;
  }
  
  .white-bgr {
    width: 70%;
    height: 539px;
    left: 14ch;

  }

  .header-todo {
    width: 70%;
    left: 7.5ch;
    font-size: 25px;
    padding-top: 1ch;

  }
  .task-list {
    font-size: 17px;
  }
  .bar {
   
    top: 16ch;
    right: 17.3ch;
    
  }
}

@media screen and (max-width: 750px) {
  .notebook {
    left: 2ch;
    width: 150%;
    top: 6ch;
  }

  .bar {
    top: -12ch;
    left: 22%;
    width: 32ch;
    height: 5ch;
    background: #FAFAFA;
    z-index: 1;
    border: 3px solid #000000;
    transform: none;
    border-radius: 20px 20px 20px 20px;
  }

  .white-bgr {
    width: 60%;
    height: 539px;
    left: 15ch;

  }

  .header-todo {
    width: 60%;
    left: 8ch;
    font-size: 25px;
    padding-top: 1ch;

  }

  .task-list {
    font-size: 17px;
  }

  .pencil{
    display: none;
  }
}